.home, .create-recipe-page, .create-folder-page, .edit-folder-page, .edit-recipe-page, .profile-page, .folder, .recipe, .login-signup-page, .edit-user-page  {
  min-height: 100vh;
}

html, body, #root, .App {
  height: fit-content;
}

:root {
  --white: #ffffff;
  --black: #0f0f0f;
  --blackTransparent: #0f0f0f45;
  --lightBlue: #50b9b7;
  --lightBlueTransparent: #50b9b775;
  --blueGreenTransparent: #4bd1b094;
  --salmon: rgb(255, 125, 125);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 1rem 0px 1rem 0px;
}

footer {
  width: 100%;
  height: 4vh;
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5em;
  box-shadow: 0px 0px 0.5em var(--blackTransparent);

  &:hover {
    box-shadow: inset 0px 0px 0.5em var(--blackTransparent);
    background-color: var(--blueGreenTransparent);
  }
}

.link-buttons {
  text-decoration: none;
  color: var(--black);
  background-color:  var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--blackTransparent);
  padding: 5px;

  &:hover {
      background-color: var(--blueGreenTransparent);
      cursor: pointer;
      box-shadow: inset 0px 0px 5px var(--blackTransparent);
  }
}

.page-controls {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;

  li {
    padding: 5px;
    margin: 0 5px 0 5px;
    box-shadow: 0px 0px 5px var(--blackTransparent);
    border-radius: 5px;
    width: 16px;

    a {
      svg {
        height: 100%;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: inset 0px 0px 5px var(--blackTransparent);
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px;
  justify-items: center;
}

.grid-item {
  margin: 0.5em;
  width: 100%;
  height: 100%;
  color:#0f0f0f;
  text-decoration: none;
  box-shadow: 0px 0px 0.5em var(--blackTransparent);
  border-radius: 0.5em;

  &:hover {
    h4 {
      text-decoration: underline;
    }
  }
}

.grabbable {
  &:hover {
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
  }

  &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
  }
}

.content-section {
  padding: 10px 0px 10px 0px;
}