#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #0f0f0f;
  background-color: #ffffffeb;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 5em;
  box-shadow: 0px 0px 0.5em #0f0f0f45;

  &:hover {
    background-color: rgba(252, 252, 252, 0.9);
    box-shadow: inset 0px 0px 0.5em #0f0f0f45;
  }
}