.create-recipe-page {
    height: 100%;
}

#create-recipe-form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-input, .desc-input {
    width: 500px;
}

.content-list, .content-item {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-list {
    width: 60vw;
    justify-content: space-around;
    margin-top: 1rem;
}

.content-item {
    background-color: var(--white);
    margin-bottom: 1rem;
    padding: 1rem;
    flex-direction: row;
    width: 100%;
    box-shadow: 0px 0px 5px var(--blackTransparent);
}

.content-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    ul, ol {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0px;
    }

    label {
        text-align: center;
    }
}

.content-input-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.input-section {
    margin: 16px 0px 16px 0px;
    display: flex;
    flex-direction: column;
}

.content-input-list-control-up, .content-input-list-control-down, .content-input-list-control-delete {
    padding: 4px;
    margin: 0;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 5px var(--blackTransparent);
    border-radius: 5px;
    margin: 0 5px 0 5px;

    svg {
        height: 100%;
        display: flex;
    }

    &:hover {
        cursor: pointer;
        box-shadow: inset 0px 0px 5px var(--blackTransparent);
    }
}

.content-input-list-control-delete {
    &:hover {
        background-color: var(--salmon);
    }
}

.content-input-form-delete {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--blackTransparent);
    padding: 5px;

    &:hover {
        background-color: var(--salmon);
        cursor: pointer;
        box-shadow: inset 0px 0px 5px var(--blackTransparent);
    }
}

.content-input-list-add {
    
}