.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  div {
    width: 75vw;
  }
}

.head-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .link-ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}