nav {
    display: flex;
    flex-flow: row-reverse;
}

.nav-bar {
    background-color: #50b9b7;
}

.nav-item {
    padding: 12px;
    color: #0f0f0f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        box-shadow: inset 0px 0px 0.5em #0f0f0f45;
    }
}

.logout:hover {
    background-color: rgb(255, 125, 125);
    box-shadow: inset 0px 0px 0.5em #0f0f0f45;
}